/* Container Carousel */
.carousel-item {
    overflow: hidden;
}

.carousel-item img {
    height: 200px;
    object-fit: cover;
}



/* Container Card */
.card {
    flex: 1 1 250px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
}

.card img {
    min-height: 250px;
    object-fit: cover;
    transition: ease-out .3s;
}

.card img:hover {
    transform: scale(1.1);
    transition: ease-in .3s;
    border-image: 0 fill linear-gradient(#0003, #000);
    /* Vendor prefixes for better browser compatibility */
    -webkit-border-image: 0 fill linear-gradient(#0003, #000);
    -moz-border-image: 0 fill linear-gradient(#0003, #000);
    -o-border-image: 0 fill linear-gradient(#0003, #000);
}

p {
    color: rgb(185, 185, 185);
}
.fitur-product  p{
    margin-top: 17px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 3.5px;
}



/* Container Pagination */




/* Responsive */
@media only screen and (max-width: 767px) {
    .card {
        flex: 1 1 200px;
    }
}